
<div [formGroup]="rolForm">
  <!-- Nombre del Rol -->
  <ng-container >
    <mat-form-field appearance="outline" class="w-100 mb-16">
      <mat-label>Nombre del Rol</mat-label>
      <input matInput formControlName="rolName" placeholder="Ej: Administrador">
    </mat-form-field>
  </ng-container>

  <!-- <div  *ngIf="rolForm.get('rolName')?.value"> -->
    <!-- Tabla de permisos -->
    <div class="tableRespon" >
      <table class="text-nowrap w-100">
        <thead class="header-cell">
          <tr>
            <th class="thtable">Módulo</th>
            <th class="thtable">Leer</th>
            <th class="thtable">Crear</th>
            <th class="thtable">Editar</th>
            <th class="thtable">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perm of permisosFormGroups" [formGroup]="perm">
            <td class="tdtable">{{ perm.value.nombre }}</td>
            <td class="tdtable"><mat-slide-toggle class="custom-toggle" formControlName="leer"></mat-slide-toggle></td>
            <td class="tdtable"><mat-slide-toggle class="custom-toggle" formControlName="crear"></mat-slide-toggle></td>
            <td class="tdtable"><mat-slide-toggle class="custom-toggle" formControlName="editar"></mat-slide-toggle>
            </td>
            <td class="tdtable"><mat-slide-toggle class="custom-toggle" formControlName="eliminar"></mat-slide-toggle>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->

  <div class="mt-4 d-flex justify-content-end" style="padding-bottom: 50px;">
    <ng-container *ngIf="rolForm.get('idRol')?.value">&nbsp;
      <button *ngIf="permisosService.puede('Roles', 'editar')" mat-raised-button color="warn" (click)="limpiarTodo()">Cancelar acción</button>&nbsp;
    </ng-container>

    <ng-container *ngIf="permisosService.puede('Roles', 'crear')">
      <button  mat-raised-button color="primary" (click)="guardarRol()">Guardar</button>
    </ng-container>
  </div>

</div>

<h4 class="mb-32" *ngIf="!mostrarCargando">Lista de roles</h4>
<mat-divider *ngIf="!mostrarCargando"></mat-divider>

<div class="table-responsive" *ngIf="!mostrarCargando">
  <table mat-table [dataSource]="rolesList" *ngIf="!mostrarCargando" class="text-nowrap w-100">
    <!-- Assigned Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element">
        <p class="mb-0 fw-medium"> {{element.nombre}} </p>
        <!-- <p class="mb-0 fw-normal op-5">{{ element.ficha }}</p> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu4">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu4="matMenu">
          <ng-container>
            <button mat-menu-item (click)="openVerRol(element)">
              <mat-icon class="btnInfoTable">visibility</mat-icon>
              <span>Detalles</span>
            </button>
          </ng-container>

          <ng-container *ngIf="permisosService.puede('Roles', 'editar')">
            <button mat-menu-item (click)="setValueRol(element)">
              <mat-icon class="btnEditTable">edit</mat-icon>
              <span>Editar</span>
            </button>
          </ng-container>


          <ng-container *ngIf="permisosService.puede('Roles', 'eliminar')">
            <button mat-menu-item (click)="deleteRol(element)">
              <mat-icon class="btnDeleteTable">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </ng-container>

        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
    <!-- Spinner de carga  -->
    <div *ngIf="mostrarCargando" class="loading-spinner">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Cargando...</span>
    </div>

