<!-- <div class="d-flex justify-content-end">
  <button mat-raised-button class="me-8 mb-8" color="primary" (click)="toggleSearchPanel()">
    <i class="material-icons">{{ searchExpanded ? 'expand_less' : 'search' }}</i>
    {{ searchExpanded ? 'Ocultar filtros' : 'Buscar adición' }}
  </button>
  <ng-container>
    <button mat-raised-button class="me-8 mb-8" color="warn" (click)="IrAddAdiciones()">
      <i class="material-icons">add</i>Agregar adición</button>
  </ng-container>
</div> -->

<!-- Filtros -->
<!-- <mat-card class="filters-section" *ngIf="searchExpanded">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>filter_list</mat-icon>
      Filtros de Búsqueda
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="filterForm" class="filters-form">

      <div class="form-gridFilter">

        <div class="form-group">
          <label class="form-label">Número formulario</label>
          <input type="text" formControlName="noformulario" class="form-input" placeholder="No. Formulario">
        </div>

        <div class="form-group">
          <label class="form-label">Número factura</label>
          <input type="text" formControlName="numfactura" class="form-input" placeholder="No. serial">
        </div>
        <div class="form-group">
          <label class="form-label">Orden compra</label>
          <input type="text" formControlName="ordendecompra" class="form-input" placeholder="Orden de compra">
        </div>


        <div class="form-group">
          <label class="form-label">
            Recinto
          </label>
          <select class="form-select" formControlName="recinto">
            <option value="">Seleccionar...</option>
            <option *ngFor="let item of recintoList" [value]="item.siglas">{{item.siglas}}</option>
          </select>
        </div>
      </div>

    </form>
    <div style="display: flex; justify-content: end;">
      <button mat-raised-button color="primary" type="button" (click)="searchAdiciones()">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </div>
  </mat-card-content>
</mat-card> -->


<mat-card class="w-100">
  <mat-card-content>
    <div class="header">
      <div class="header-content">
        <div class="header-left">
          <div class="logo">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">

              <!-- bullets -->
              <line x1="9" y1="6" x2="20" y2="6"></line>
              <line x1="9" y1="12" x2="20" y2="12"></line>
              <line x1="9" y1="18" x2="20" y2="18"></line>

              <!-- puntos -->
              <circle cx="4" cy="6" r="1.5"></circle>
              <circle cx="4" cy="12" r="1.5"></circle>
              <circle cx="4" cy="18" r="1.5"></circle>

            </svg>
          </div>
          <div class="header-title">
            <h1>Lista de adición</h1>
            <!-- <p>Diferentes tipos de movimientos de activos</p> -->
          </div>
        </div>

        <div class="header-actions">
          <button type="button" class="btn btn-secondary" (click)="toggleBuscar()">
            <!-- Cuando NO está activo -->
            <ng-container *ngIf="!mostrarBuscar">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
              Buscar
            </ng-container>

            <!-- Cuando está activo -->
            <ng-container *ngIf="mostrarBuscar">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
              Ocultar
            </ng-container>

          </button>

          <!-- Icono agregar (cuando estás en lista) -->
          <button type="button" class="btn btn-primary" (click)="IrAddAdiciones()"
            *ngIf="permisosService.puede('Adición', 'crear')">
            <ng-container>
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
              </svg>
              Agregar adición
            </ng-container>
          </button>
        </div>
      </div>
    </div>


    <ng-container *ngIf="mostrarBuscar">
      <form [formGroup]="filterForm">
        <div class="form-gridFilter4">
          <div class="form-group">
            <label class="form-label">Número formulario</label>
            <input type="text" formControlName="noformulario" class="form-input" placeholder="No. Formulario">
          </div>

          <div class="form-group">
            <label class="form-label">Número factura</label>
            <input type="text" formControlName="numfactura" class="form-input" placeholder="No. serial">
          </div>

          <div class="form-group">
            <label class="form-label">Orden compra</label>
            <input type="text" formControlName="ordendecompra" class="form-input" placeholder="Orden de compra">
          </div>

          <div class="form-group">
            <label class="form-label">Creado por</label>
            <input type="text" formControlName="creadopor"
             class="form-input" placeholder="Nombre del usuario">
          </div>
        </div>

        <div class="form-gridFilter">
          <div class="form-group">
            <label class="form-label">
              Recinto
            </label>
            <select class="form-select" formControlName="recinto">
              <option value="">Seleccionar...</option>
              <option *ngFor="let item of recintoList" [value]="item.siglas">{{item.siglas}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label">Fecha desde</label>

            <input type="date" formControlName="desde" class="form-input">
          </div>

          <div class="form-group">
            <label class="form-label">Fecha hasta</label>

            <input type="date" formControlName="hasta" class="form-input">
          </div>
        </div>
      </form>

      <div style=" display:flex; justify-content: space-between; margin-top: 20px;">
        <div class="header-left">

        </div>
        <div class="header-actions">

          <button type="button" class="btn btn-secondary" (click)="limpiarSearch()">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">

              <path d="M3 6h18"></path>
              <path d="M8 6V4h8v2"></path>
              <path d="M19 6l-1 14H6L5 6"></path>
              <line x1="10" y1="11" x2="10" y2="17"></line>
              <line x1="14" y1="11" x2="14" y2="17"></line>

            </svg>
            Limpiar
          </button>



          <button type="button" class="btn btn-primary" (click)="searchAdiciones()">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            Buscar
          </button>
        </div>
      </div>
    </ng-container>



    <div class="table-responsive">
      <table mat-table [dataSource]="adicionList" class="text-nowrap w-100">

        <ng-container matColumnDef="noFormulario">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.noFormulario}}</p>
            <p class="mb-0 fw-medium op-5">Fecha: {{formatFecha(element.fechaCreacion)}}</p>
            <!-- <p class="mb-0 fw-normal op-5">{{ element.apellido }}</p> -->
          </td>
        </ng-container>


        <ng-container matColumnDef="numFactura">
          <th mat-header-cell *matHeaderCellDef>No. Factura</th>
          <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.numFactura}} </td>
        </ng-container>

        <ng-container matColumnDef="ordenDeCompra">
          <th mat-header-cell *matHeaderCellDef> Orden Compra </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.ordenDeCompra}}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="recinto">
          <th mat-header-cell *matHeaderCellDef> Recinto </th>
          <td mat-cell *matCellDef="let element"  >
            <p class="mb-0 fw-medium">{{element.recinto}}</p>
            <p class="mb-0 fw-normal op-5"  [matTooltip]="element.area">{{ element.area.length > 25 ?
              element.area.slice(0,25) + "..." : element.area }}</p>
          </td>
        </ng-container>

        <!-- Project Column -->
        <ng-container matColumnDef="creadopor">
          <th mat-header-cell *matHeaderCellDef> CreadoPor </th>
          <td mat-cell *matCellDef="let element"  >
            <p class="mb-0 fw-medium" [matTooltip]="element.creadoPor">
            {{ element.creadoPor.length > 15 ? element.creadoPor.slice(0,15) + "..." : element.creadoPor || ''}}</p>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="formaAdquisicion">
          <th mat-header-cell *matHeaderCellDef>Adquisición </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5"> {{element.formaAdquisicion.nombre}} </p>
          </td>
        </ng-container>


        <ng-container matColumnDef="activos">
          <th mat-header-cell *matHeaderCellDef>Activos</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.activos}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span class="estado-badge" [ngClass]="'estado-' + (element.estado | lowercase)">
              {{ element.estado }}
            </span>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> <span class="trip-status" [ngClass]="{
            'danger': element.estado.nombre === 'Fuera de Servicio',
            'primary': element.estado.nombre === 'Activo',
            'default ': element.estado.nombre === 'En Mantenimiento'
          }">{{element.estado.nombre}}</span></td>
        </ng-container> -->

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu4">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu4="matMenu">
              <ng-container>
                <button mat-menu-item (click)="openDetailModal(element)">
                  <mat-icon class="btnInfoTable">visibility</mat-icon>
                  <span>Detalles</span>
                </button>
              </ng-container>

              <ng-container>
                <button mat-menu-item (click)="imprimir(element)">
                  <mat-icon class="btnInfoTable">print</mat-icon>
                  <span>Imprimir</span>
                </button>
              </ng-container>

              <ng-container>
                <button mat-menu-item (click)="IrEditActivos(element.id)">
                  <mat-icon class="btnInfoTable">view_in_ar</mat-icon>
                  <span>Activos</span>
                </button>
              </ng-container>

              <ng-container *ngIf="element.estado == 'Pendiente'">

                <button mat-menu-item (click)="procesarSolicitud(element.id, true)">
                  <mat-icon class="btnEditTable">check</mat-icon>
                  <span>Aprobar</span>
                </button>
                <button mat-menu-item (click)="procesarSolicitud(element.id, false)">
                  <mat-icon class="btnDeleteTable">close</mat-icon>
                  <span>Rechazar</span>
                </button>
              </ng-container>



              <!-- <button mat-menu-item>
                <mat-icon class="btnDeleteTable">delete</mat-icon>
                <span>Eliminar</span>
              </button> -->

            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


    <!-- Spinner de carga  -->
    <div *ngIf="mostrarCargando" class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Cargando adiciones...</span>
    </div>

    <!-- Sin resultados -->
    <div *ngIf="!mostrarCargando && adicionList.length === 0" class="no-results">
      <mat-icon>search_off</mat-icon>
      <h3>No se encontraron adiciones</h3>
      <p>Intenta ajustar los filtros de búsqueda</p>
    </div>


    <div class="pagination-container">
      <mat-paginator *ngIf="adicionList && pagination" [length]="pagination.totalCount || 0"
        [pageSize]="pagination.pageSize || 10" [pageIndex]="(pagination.currentPage || 1) - 1"
        [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
      </mat-paginator>
    </div>


    <!-- Modal de detalles de la adicion -->
    <div class="trip-details-modal" *ngIf="isDetailModalOpen && adicionSelecionado" (click)="closeDetailModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
          <h2>Detalles de la adición</h2>
          <button class="close-button" (click)="closeDetailModal()">×</button>
        </div>

        <div class="modal-body">

          <div id="print-section">

            <div style="display: flex; justify-content: end;">
              <span class="estado-badge" [ngClass]="'estado-' + (adicionSelecionado.estado | lowercase)">
                {{ adicionSelecionado.estado }}
              </span>
            </div>

            <div class="trip-info">
              <div class="info-item">
                <span class="info-label">Número formulario:</span>
                <span>{{ adicionSelecionado.noFormulario }}</span>
              </div>
              <div class="info-item">
                <span class="info-label">Número factura:</span>
                <span> {{ adicionSelecionado.numFactura}}</span>
              </div>
              <div class="info-item">
                <span class="info-label">Número de orden:</span>
                <span>{{ adicionSelecionado.ordenDeCompra || ''}}</span>
              </div>

              <div class="info-item">
                <span class="info-label">Proveedor:</span>
                <span>{{ adicionSelecionado.proveedor || ''}}</span>
              </div>

              <div class="info-item">
                <span class="info-label">Recinto:</span>
                <span>{{ adicionSelecionado.recinto || ''}}</span>
              </div>

              <div class="info-item">
                <span class="info-label">Forma adquisición:</span>
                <span>{{ adicionSelecionado.formaAdquisicion.nombre  || ''}}</span>
              </div>

              <div class="info-item">
                <span class="info-label">Area:</span>
                <span>{{ adicionSelecionado.area  || ''}}</span>
              </div>

              <div class="info-item">
                <span class="info-label">Costo total:</span>
                <span>{{ adicionSelecionado.costoTotal}}</span>
              </div>

              <div class="info-item" *ngIf="adicionSelecionado.activos">
                <span class="info-label">Cantidad de activos:</span>
                <span>{{ adicionSelecionado.activos}}</span>
              </div>
              <div class="info-item">
                <span class="info-label">Fecha creación:</span>
                <span>{{formatFecha(adicionSelecionado.fechaCreacion)}}</span>
              </div>
              <div class="info-item">
                <span class="info-label">CreadoPor:</span>
                <span>{{adicionSelecionado.creadoPor}}</span>
              </div>

              <div class="modal-divider">
                <div class="trip-documents" *ngIf="adicionSelecionado.observaciones">
                  <div class="trip-info">
                    <div class="info-item">
                      <span class="info-label">Observaciones:</span>
                      <span>{{ adicionSelecionado.observaciones }}</span>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <button class="close-btn" (click)="closeDetailModal()">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<app-print-adicion style="display: none;" #printAdicion [data]="adicionData">
</app-print-adicion>
